.testimonials-container {
  max-width: 144rem;
  margin: 0 auto;
}

.testimonial-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin: 5rem 0; */
  padding: 0rem var(--main_padding_x);
  margin: 3rem 0;
  transform: translateY(75vh);
  opacity: 0;
}

.testimonial-content h1 {
  position: relative;
  /* border: 2px solid red; */
}

.testimonial-content h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  left: 0;
  bottom: -0.25rem;
  background: var(--turquoise);
  clip-path: polygon(0 53%, 100% 19%, 100% 31%, 0% 100%);
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 2.5rem;
}

.testimonial-card {
  padding: 3rem;
  flex: 1;
  /* border: 2px solid black; */
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}

.testimonial-card * {
  position: relative;
  z-index: 5;
}

.testimonial-card:nth-child(2) {
  position: relative;
}

.testimonial-card:nth-child(2)::after {
  content: "";
  width: 85%;
  height: 100%;
  background: var(--turquoise);
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(67% 0, 100% 0%, 100% 100%, 0% 100%);
  filter: blur(10px);
  opacity: 75%;
}

.testimonial-blurb {
  line-height: 3.2rem;
  margin: 2rem 0;
}

@media screen and (max-width: 950px) {
  .testimonials {
    flex-direction: column;
    padding: 0 var(--mainPaddingX);
  }
}
