.work-sample-item {
  display: flex;
  height: 400px;
  margin: 2rem 0;
  gap: 2rem;
  overflow: hidden;
  position: relative;
  /* border: 2px solid red; */
}

.offset-left {
  transform: translateX(-100vw);
}

.offset-right {
  transform: translateX(100vw);
}

.work-sample-item-column {
  flex: 1;
  /* border: 2px solid red; */
}

.mobile-sample-column {
  display: none;
}

@media screen and (max-width: 950px) {
  .work-sample-item {
    flex-direction: column;
    height: auto;
  }

  .sample-info-column {
    text-align: center;
    align-items: center;
    margin: 4rem 0;
  }
}

@media screen and (max-width: 650px) {
  .desktop-sample-column {
    display: none;
  }
  .mobile-sample-column {
    display: block;
  }
}
