.sample-img-column {
  position: relative;
  height: 100%;
  max-height: 400px;
  /* border: 2px solid green; */
}

.sample-img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  min-height: 200px;
  min-width: 200px;
  /* max-height: 400px; */
}

.sample-reactions-row {
  position: absolute;
  bottom: 0;
  left: 2rem;
}

.sample-reactions-row::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  background: black;
  height: 50%;
  top: 20%;
  opacity: 50%;
  filter: blur(5px);
}
