.services-container {
  background: var(--servicesbg);
  /* border: 3px solid red; */
  width: 100%;
  padding: 10rem 0;
  margin: 7.5rem 0;
}

.services-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: 144rem;
  margin: 0 auto;
  text-shadow: 1px 1px 1px var(--mainbg), 0px 0px 5px var(--mainbg);
}

.services-header {
  margin: 4rem 0;
}

.services-list {
  display: flex;
  text-align: center;
  gap: 2rem;

  /* align-items: stretch; */
  /* gap: 2rem; */
  /* border: 3px solid green; */
}

@media screen and (max-width: 950px) {
  .services-list {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .services-container {
    margin: 0rem;
  }
}
