.services-container {
  background: var(--servicesbg);
  /* border: 3px solid red; */
  width: 100%;
  padding: 4rem 0;
  margin: 10rem 0;
}

.services-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: 144rem;
  margin: 0 auto;
}

.services-header {
  margin: 4rem 0;
}

.services-list {
  display: flex;
  align-items: stretch;
  text-align: center;
  /* border: 2px solid red; */
  gap: 2rem;
}

.service-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  /* border: 2px solid green; */
}

.service-title {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

.service-blurb {
  /* border: 2px solid red; */
  width: clamp(65%, 200px, 90%);
  margin: 0 auto;
}

/* .service-img-div{} */

.service-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 950px) {
  .services-list {
    flex-direction: column;
  }
}
