.mywork-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 144rem;
  margin: 0 auto;
  padding: 3rem var(--main_padding_x);
}

@media screen and (max-width: 950px) {
  .mywork-container {
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .mywork-container {
    padding: 6rem 2rem;
  }
}
