.faq-container {
  /* border: 5px solid green; */
  /* padding: 0 6rem; */
}
.faq-content-row {
  display: flex;
  max-width: 144rem;
  margin: 0 auto;
  padding: 6rem var(--main_padding_x);
  gap: 4rem;
  filter: blur(200px);
}

.faq-column {
  flex: 1;
  display: flex;
  align-items: center;
}

.faq-content-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.faq-caption-row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.contact-link {
  /* text-shadow: 1px 1px 1px var(--maincolor); */
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.contact-link:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.faq-item {
  margin: 1.5rem 0;
  cursor: pointer;
  transition: 0.25s;
}

.faq-item h4 {
  transition: 0.2s ease;
}

.faq-item h4:hover {
  transform: scale(1.05, 1);
  text-shadow: 1px 1px 1px var(--maincolor), 1px 1px 5px var(--maincolor);
}

@media screen and (max-width: 950px) {
  .faq-content-row {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .faq-caption-row {
    justify-content: center;
  }

  .faq-container {
    /* border: 2px solid green; */
    padding: 0 3rem;
  }
}
