.contact-link-btn {
  background: var(--contactbtn);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  display: inline-block;
  transition: 0.2s ease;
  position: relative;
  z-index: 20;
  box-shadow: 1px 1px 5px var(--black);
}

.contact-link-btn:hover {
  transform: scale(1.1, 0.9);
}
