.nav {
  position: fixed;
  width: 100%;
  top: 2.5%;
  left: 0%;
  z-index: 1000;
  /* border: 2px solid black; */
}

.nav-content {
  max-width: 144rem;
  position: relative;
  margin: 0 auto;
}

.nav-content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  border: 2.5px solid var(--mainColor);
  border-radius: 0.5rem;
  position: relative;
  transform-origin: center;
}

.nav-overlay {
  position: absolute;
  inset: 0;
  opacity: 70%;
  background: var(--secondarybg);
}

.nav-filter {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
}

.nav-column {
  display: flex;
  align-items: center;
  position: relative;
  gap: 2rem;
}

.nav-user-info {
  text-shadow: 1px 1px 1px black;
}

.nav-username-row {
  display: flex;
  gap: 1rem;
}

.nav-username-row h2 {
  line-height: 3.75rem;
}

.desktop-nav-column {
  display: flex;
  align-items: center;
  position: relative;
}

.mobile-nav-column {
  display: none;
}

.burger-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.burger-btn:hover {
  transform: scale(1.3, 0.9);
}

@media screen and (max-width: 950px) {
  .desktop-nav-column {
    display: none;
    /* border: 3px solid green; */
  }

  .mobile-nav-column {
    display: block;
    /* border: 3px solid green; */
  }
}

@media screen and (max-width: 950px) {
  .nav-user-info {
    display: none;
    /* border: 3px solid green; */
  }
}
