.contact-container {
  display: flex;
  max-width: 144rem;
  margin: 0 auto;
}

.contact-column {
  flex: 1;
  padding: 3rem;
  position: relative;
  /* border: 2px solid green; */
  /* border: 2px solid white; */
}

.contact-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  z-index: 10;
  position: relative;
}

.contact-me-btn {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 700;
  background: var(--turquoise);
  font-family: var(--secondaryfont);
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

.contact-me-btn:hover {
  transform: scale(0.9, 1.1);
}

@media screen and (max-width: 950px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-column {
    width: 100%;
    padding: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .success-row {
    flex-direction: column;
  }
}
