.site-item-link {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  color: var(--mainColor);
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;
}

.site-item-link p {
  position: relative;
  z-index: 5;
}

.site-item-link:hover {
  transform: scale(1.1);
}

.site-item-link::before {
  content: "";
  width: 100%;
  position: absolute;
  inset: 0;
  background: var(--turquoise);
  opacity: 45%;
  filter: blur(5px);
}

.site-link-btn {
  border: none;
  background: transparent;
  transition: 0.2s ease;
}
