.mobile-sample-action-column {
  display: none;
}

.mobile-btns-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .mobile-sample-action-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
  }
}
