.app[data-theme="light"] {
  --mainbg: var(--lightblue);
  --maincolor: var(--black);
}

.app[data-theme="dark"] {
  --mainbg: var(--black);
  --servicesbg: var(--turquoise);
  --secondarybg: var(--lightblack);
  --maincolor: var(--white);
}

.app {
  background: var(--mainbg);
  font-family: var(--mainfont);
  border: 1px solid transparent; /*preserves appsize --- not sure why, lol */
}

.app-content {
  margin-top: 22.5rem;
  position: relative;
  color: var(--maincolor);
}

/* animations */

.slide-right {
  animation: slideright 1s forwards;
}

@keyframes slideright {
  100% {
    transform: translateX(0);
  }
}

.slide-left {
  animation: slideleft 1s forwards;
}

@keyframes slideleft {
  100% {
    transform: translateX(0);
  }
}

.rise-up-fade-in {
  animation: riseupfadein 1.2s forwards;
}

@keyframes riseupfadein {
  0% {
    opacity: 0;
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
