@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --main_padding_x: 6rem;
  --lightblue: rgb(235, 240, 245);
  --white: rgb(255, 255, 255);
  --black: rgb(20, 15, 15);
  --lightblack: rgb(55, 55, 45);
  --turquoise: rgb(2, 167, 158);
  --mintgreen: rgb(81, 240, 160);
  --seablue: rgb(0, 183, 255);
  --ubuntu: "Ubuntu", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --mainfont: var(--montserrat);
  --secondaryfont: var(--ubuntu);
  --contactbtn: var(--turquoise);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.thin {
  font-weight: 200;
}

.mid-thin {
  font-weight: 400;
}

h1 {
  font-size: 7.5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.3rem;
}

h5 {
  font-size: 1.7rem;
}

p {
  font-size: 1.6rem;
}

.em {
  font-family: italic;
}

.blue {
  color: var(--turquoise);
}

.bold {
  font-weight: 700;
}

.html-orange {
  color: orange;
}

.css-blue {
  color: blue;
}

.react-blue {
  color: steelblue;
}

.js-yellow {
  color: yellow;
}

.vue-green {
  color: rgb(10, 228, 10);
}

.no-wrap {
  white-space: nowrap;
}

/* @media screen and (max-width: 950px) {
  * {
    --mainPaddingX: 6.5rem;
  }
} */

@media screen and (max-width: 650px) {
  * {
    --main_padding_x: 2.5rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.7rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.3rem;
  }
}
